name: Mergeability

on:
  pull_request:
    types:
      - opened
      - edited
      - reopened
      - synchronize
    branches:
      - main

jobs:
  check-main:
    name: Check main
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
        with:
          fetch-depth: 0
          sparse-checkout: |
            .github/actions/block-merging
      - name: Block merging
        uses: ./.github/actions/block-merging
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: 'main'
          filter: 'chore: release .*'
